*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-image: url("../img/fundo.jpg");
    background-size: 200vh;
    font-family: Arial;
    font-size: 15px;
    text-align: flex;
  }

@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}


@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

header {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  background-image: url("../img/fundo.jpg");
  text-align: center;
  background-size: 200vh;

}
  
.menu ul {
  display: flex;
  justify-content: space-around;
  }
  
.menu {
  background-color: white;
  font-family: Arial Black;
  position: fixed;
  width: 100vw;
  top: 0;
}
  
.menu a{
  background: none;
  padding: 10px 20px;
  display: block;
}

.menu li {
  list-style: none;
}
  
a {
  text-decoration: none;
  color: black;
}
  
a:hover {
  text-decoration:underline;
  color: black;
}
  
.site-subtitle,
.site-title {
  color: white;
  text-align: center;
}

.site-title {
  font-size: 4em;
}

.site-subtitle {
  font-style: italic;
}

.img-portfolio {
  height: 200px;
  width: 200px;
}

.img {
  color: white;
  position: center;
}

